body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 0;
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Add left padding to push text to the left edge */
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.number, .operator {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center; /* Center-align text */
    padding: 0;
}

.number {
    background-color: #000; /* Black background for numbers */
    color: #fff; /* White text for numbers */
}

.operator {
    background-color: #a4d3ff; /* Light blue background for operators */
    color: #000; /* Black text for operators */
}
